<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>COPECO - WebSite</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/img/Logo_COPECO.jpg" rel="icon">
  <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="~/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Company - v4.7.0
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    
    <div class="fixed-90 container d-flex align-items-center">
        <a href="@Url.Action("Index","Home")"><img src="~/img/slide/Logo Copeco Oficial-01.png" alt="" width="200" height="100" /></a>
      
      <h1 class="logo me-auto"><a href="@Url.Action("Index","Home")"><span>COP</span>ECO</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="index.html" class="active">Inicio</a></li>

          <li class="dropdown"><a href="#"><span>Conocenos</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Sobre Nosotros</a></li>
              <li><a href="#">Mision y Vision</a></li>
              <li><a href="#">Organigrama</a></li>
            </ul>
          </li>

          <li class="dropdown"><a href="#"><span>Direcciones</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Administración</a></li>
              <li><a href="#">Tecnologia de Informacioón y Comunicación</a></li>
              <li><a href="#">Despacho</a></li>
            </ul>
          </li>

          <li><a href="#">Servicios</a></li>
          <li><a href="@Url.Action("News", "COPECO")">Noticias</a></li>
          <li><a href="#">Transparencia</a></li>
          <li><a href="#">Biblioteca</a></li>
          <li><a href="@Url.Action("Contact","Home")">Contactanos</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <div class="header-social-links d-flex">
        <a href="https://twitter.com/copecohn" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="https://www.facebook.com/copeco.hn/?locale2=es_LA&_rdr" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="https://www.instagram.com/copecohn/" class="instagram"><i class="bu bi-instagram"></i></a>
        <a href="#" class="youtube"><i class="bu bi-youtube"></i></i></a>
      </div>
    </div>
  </header><!-- End Header -->

  @RenderBody()

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>COPECO</h3>
            <p>
              Aldea el Ocotal 500 metros <br>
              adelante del Hospital Militar<br>
              Carretera a Mateo <br><br>
              <strong>Telefono:</strong> +504 2229 0606<br>
              <strong>Fax:</strong> +504 2229 0616<br>
              <strong>Correo:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4> Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Deja un comentario </h4>
            <p>Ingresa tu correo para que podamos contactarte</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>COPECO</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
          Diseñado por <a href="#">Dirección TIC</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/vendor/aos/aos.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="~/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>

  <!-- Entity Framework scripst -->
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>